body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #e1e1e1;
}

.app {
  display: flex;
  flex-direction: column;
  &__heading {
    text-align: center;
    color: white;
    font-weight: 400;
  }
  .movie:last-of-type {
    margin-bottom: 79px;
  }
}
