.search {
  display: flex;
  justify-content: flex-end;
  &__bar {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 15px;
    font-size: 16px;
    background: white url("../images/searchicon.png") no-repeat 10px 10px;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-bottom: 30px;
    &:focus {
      width: 100%;
    }
  }
  &__btn {
    display: none;
  }
}